*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #333333 #070d12;
}


*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #070d12;
}

*::-webkit-scrollbar-thumb {
  background-color: #2c2c2c;
  border-radius: 30px;
  border: 5px solid #070d12;
}

ul{
    list-style: none;
}

a{
  text-decoration: none;
  color: #000;
  }

body {    
  font-family: Arial, Helvetica, sans-serif;  
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;    
  background-image: url(./images/black-brick-wallpaper.jpg);
  background-size: cover;
  background-position: center;
}

form{
  background-color: #303030;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  gap: 20px;
  padding: 20px;
  border: 1px solid #e2c976; 
  color: #ffff;
  font-weight: 600;
  border-radius: 45px; 
}

.input-align{
  display: flex;    
  align-items: center;  
  gap: 10px;
}

.input-align select{
  cursor: pointer;
}

.input-align input{
  height: 25px;
  border-radius: 15px;  
  font-size: 17px;
  padding: 10px 4px;  
}

.input-align input:focus{
  background-color: #e2c976;
  font-weight: 700;  
}

.btn-align{
  width: 100%;
  display: flex;
  justify-content: center;  
}

.btn-align button{
  width: 50%;
  height: 50px;
  font-size: 1.5em;  
}

.title-align{
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-style{
  cursor: pointer;
  box-shadow: 0 0 15px #e2c976;
  transition: .35s ease-in-out;
  border-radius: 45px;
  background-color: #e2c976;
  color: #0a0a0a;
  font-weight: 800;
}

.btn-style:hover{
  box-shadow: 0 0 35px #e2c976;
  transition: .25s ease-in-out;
  scale: 1.1;
}

.btn-style:active{
  scale: 1;
  filter: saturate(150%);
  transition: 0.20s ease-in-out;
}

select{
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 15px;
}

select:focus{
  background-color: #e2c976;      
}

option:hover{
  background-color: #02f06d;
}

.check-box{
  width: 20px;
  height: 20px;
  cursor: pointer;  
}


